<%-include('../header')%>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <h4 class="center-align title-form">Mallas Curriculares</h4>
            <div class="card-content">
                <%- locals.flash %>
                <form  action="/curriculum/create" method="POST" id="curriculumForm">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="year" type="text" name="year" class="validate" required>
                            <label for="name">Año Malla Curricular</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <select name="career" id="careers">
                            </select>
                            <label for="career">Carrera</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="numPeriod" type="text" name="numPeriod" class="validate" required>
                            <label for="numPeriod">Número total de Períodos</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="timePeriod" type="text" name="timePeriod" class="validate" required>
                            <label for="timePeriod">Duración de Periodo(Semanas)</label>
                        </div>
                    </div>
                    <div class="card-action">
                        <div class="input-field col-s12 center-align">
                            <button id="button" class="btn">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col s8">
        <table class="highlight centered responsive-table">
            <thead>
                <tr>
                    <th>Carrera</th>
                    <th>Año Malla Curricular</th>
                    <th>Número de Períodos</th>
                    <th>Duración por Período</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% curriculums.forEach(function(curriculum){ %>
                <tr>
                    <td><%=curriculum.career.name%></td>
                    <td><%=curriculum.year%></td>
                    <td><%=curriculum.numPeriod%> períodos</td>
                    <td><%=curriculum.timePeriod%> semanas</td>
                    <td>
                        <a class="edit" data-id="<%=curriculum._id%>">
                            <i class="material-icons btn">edit</i>
                        </a>
                        <a class="delete" data-id="<%=curriculum._id%>">
                            <i class="material-icons btn">delete</i>
                        </a>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</div>
</div>


<%-include('../footer')%>
<script src="/js/views/curriculum.js"></script>