<%-include('../header')%>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <h4 class="center-align title-form">Períodos Académicos</h4>
            <div class="card-content">
                <%- locals.flash %>
                <form action="/period/create" method="POST" id="periodForm">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="name" type="text" name="name" class="validate" required>
                            <label for="name">Nombre Período</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" class="datepicker" name="start" required>
                            <label for="name">Fecha de Inicio</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" class="datepicker" name="end" required>
                            <label for="name">Fecha de Finalización</label>
                        </div>
                    </div>
                    <div class="card-action">
                        <div class="input-field col-s12 center-align">
                            <button id="button" class="btn">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col s8">
        <table class="highlight centered responsive-table" id="PeriodTable">
            <thead>
                <tr>
                    <th>Nombre Período</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Finalización</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% periods.forEach(function(period){ %>
                <tr>
                    <td><%=period.name%></td>
                    <td><%=period.start.getDate() + '/' + period.start.getMonth() + '/' + period.start.getFullYear() %>
                    </td>
                    <td><%=period.end.getDate() + '/' + period.end.getMonth() + '/' + period.end.getFullYear()%></td>
                    <td>
                        <a id="plus" class="plus modal-trigger" href="#modal1" data-id="<%=period._id%>">
                            <i class="material-icons btn">add</i>
                        </a>
                        <a class="edit" data-id="<%=period._id%>">
                            <i class="material-icons btn">edit</i>
                        </a>
                        <a class="delete" data-id="<%=period._id%>">
                            <i class="material-icons btn">delete</i>
                        </a>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h3 class="center-align title-form">Asignar Materias Disponibles para el Período Académico</h3>
            <ul class="collection" id="subjects">
            </ul>
            <div class="modal-footer">
                <a href="/period" class="modal-close waves-effect waves-green btn red">Cancelar</a>
                <div class="input-field col-s12 center-align">
                    <button class="btn" id="save">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<%-include('../footer')%>
<script src="/js/views/period.js"></script>