<%-include('../header')%>

<div class="container">
    <div class="card" style="margin-top:40px;">
        <h3 class="center-align title-form">Registro de Estudiantes</h3>
        <%- locals.flash %>
        <div class="card-content">
            <div class="row">
                <form class="col s12" action="/person/signup" method="POST">
                    <input type="hidden" name="role" value="student" required>
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Ingrese Número de Cédula" id="dni" type="text" name="dni_person"
                                class="validate" required>
                            <label for="dni">Cédula</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Ingrese Nombres y Apellidos" id="name" type="text" name="name"
                                class="validate" required>
                            <label for="name">Nombres y Apellidos</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" class="datepicker" name="birthday" required>
                            <label for="name">Fecha de Nacimiento</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="institutional_mail" placeholder="Ingrese su Correo Institucional" type="email"
                                name="institutional_mail" class="validate" required>
                            <label for="email">Correo Institucional</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="personal_mail" type="email" placeholder="Ingrese su Correo Personal"
                                name="personal_mail" class="validate" required>
                            <label for="email">Correo Personal</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="address" type="text" name="address" placeholder="Ingrese su dirección"
                                class="validate" required>
                            <label for="address">Dirección</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="phone" type="text" name="phone" placeholder="Ingrese su telefono"
                                class="validate" required>
                            <label for="phone">Telefono</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <select name="curriculum" id="curriculums"></select>
                            <label for="career">Carrera-Malla Curricular</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="school" type="text" name="school" placeholder="Ingrese el Colegio"
                                class="validate" required>
                            <label for="university_degree">Colegio</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="graduation_grade" type="text" name="graduation_grade"
                                placeholder="Ingrese Nota de Graduación" class="validate" required>
                            <label for="graduation_grade">Nota de Graduación de Bachiller</label>
                        </div>
                    </div>
                    <div class="card-action">
                        <div class="input-field col-s12 center-align">
                            <button class="btn">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<table class="highlight centered responsive-table">
    <thead>
        <tr style="color: #2ec56f;">
            <th>Cédula</th>
            <th>Nombres y Apellidos</th>
            <th>Carrera</th>
            <th>Colegio</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <%students.forEach(function(student){ %>
        <tr>
            <td><%=student.person.dni_person%></td>
            <td><%=student.person.name%></td>
            <td><%=student.curriculum.career.name%></td>
            <td><%=student.school%></td>
            <td>
                <a class="edit" data-id="<%=student._id%>">
                    <i class="material-icons btn">edit</i>
                </a>
                <a class="delete" data-id="<%=student._id%>">
                    <i class="material-icons btn">delete</i>
                </a>
            </td>
        </tr>
        <%})%>



    </tbody>
</table>

<%-include('../footer')%>
<script src="/js/views/person.js"></script>