<%-include('../header')%>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <h4 class="center-align title-form">Materias</h4>
            <div class="card-content">
                <%- locals.flash %>
                <form  action="/subject/create" method="POST" id="subjectForm">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="name" type="text" name="name" class="validate" required >
                            <label for="name">Nombre Materia</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <select name="curriculum" id="curriculums">
                            </select>
                            <label for="career">Malla Curricular-Carrera</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="numCredit" type="text" name="numCredit" class="validate" required>
                            <label for="numCredit">Número de créditos</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="numCredit" type="number" min="1" max="<%=subject.curriculum.numPeriod%>" name="numCredit" class="validate" required>
                            <label for="numCredit">Ciclo</label>
                        </div>
                    </div>
                    <div class="card-action">
                        <div class="input-field col-s12 center-align">
                            <button id="button" class="btn">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col s8">
        <table class="highlight centered responsive-table">
            <thead>
                <tr>
                    <th>Carrera</th>
                    <th>Año Malla Curricular</th>
                    <th>Nombre Materia</th>
                    <th>Número de Créditos</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% subjects.forEach(function(subject){ %>
                <tr>
                    <td><%=subject.curriculum.career.name%></td>
                    <td><%=subject.curriculum.year%></td>
                    <td><%=subject.name%></td>
                    <td><%=subject.numCredit%></td>
                    <td>
                        <a class="edit" data-id="<%=subject._id%>">
                            <i class="material-icons btn">edit</i>
                        </a>
                        <a class="delete" data-id="<%=subject._id%>">
                            <i class="material-icons btn">delete</i>
                        </a>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</div>
</div>


<%-include('../footer')%>
<script src="/js/views/subject.js"></script>